:root {
    --main-bg: #8F8F8F;
    --button-bg: #8F8F8F;
    --file-selector-bg: #555555;
    --text-white: #FFFFFF;
    --text-black: #000000;
    --border-white: #FFFFFF;
    --border-black: #000000;
    --radius: 5px;
}

/* Base styles */
body {
    background-color: var(--main-bg);
    font-family: 'Roboto Mono', monospace;
    font-weight: normal;
}

/* Text styling - making sure it's not bold */
h1, h2, h3, h4, h5, h6,
label {
    font-weight: normal;
    color: var(--text-black);
}

hr {
    border: 1px solid var(--text-black);
    border-color: var(--border-black);
}

#safariErr{ 
    display:none;
    text-align: center;
    color: red;
}

#alertDiv {
    display: none;
}

/* Dropdowns */
select {
    background-color: var(--main-bg);
    color: var(--text-black);
    border: 2px solid var(--border-black);
    border-radius: var(--radius);
    padding: 8px;
    font-family: 'Roboto Mono', monospace;
    font-weight: normal;
}

/* Buttons */
button,
input[type="button"],
.btn {
    background-color: var(--main-bg);
    color: var(--text-black);
    border: 2px solid var(--border-black);
    border-radius: var(--radius);
    font-family: 'Roboto Mono', monospace;
    font-weight: normal;
}

/* File selector */
input[type="file"]::file-selector-button {
    background-color: var(--main-bg );
    color: var(--text-black);
    border: 2px solid var(--border-black);
    border-radius: var(--radius);
    font-family: 'Roboto Mono', monospace;
    font-weight: normal;
    font-size: 12px;
}

/* Offset setter */
input[type="text"] {
    background-color: var(--main-bg);
    border: 2px solid var(--border-black);
    border-radius: var(--radius);
    font-family: 'Roboto Mono', monospace;
    font-weight: normal;
}

/* Console/Terminal */
#terminal {
    background-color: var(--main-bg);
    border: none;
    /* border: 2px solid var(--border-black); */
    /* border-radius: var(--radius); */
    /* color: var(--text-black);
    font-family: 'Roboto Mono', monospace;
    font-weight: normal; */
}

/* Table styles */
.table {
    background-color: var(--main-bg);
    color: var(--text-black);
    border: 2px solid var(--border-black);
}

#fileTable {
    background-color: var(--main-bg);
    color: var(--text-black);
    border: 2px solid var(--border-black);
}
.table th,
.table td {
    border-color: var(--border-black);
}